
@media screen and (max-width: 992px) {

    .about-content {
        flex-direction: column;
        height: auto;
        overflow-y: auto;
    }

    .about-image {
        margin: 40px auto;
        text-align: center;
    }

    .about-image img {
        width: 300px;
        height: auto;
    }

    .about-text {
        margin: 0 20px;
        padding-top: 40px;
        text-align: center;
    }
    li {
        list-style-type: none;
    }
}